{% extends "base.html" %}

{% block content %}


<script charset="utf-8">
$(document).ready(function() {
    /*$('#btn-add').click(function(){
        $('#select-from option:selected').each( function() {
                $('#select-to').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
        });
    });
    $('#btn-remove').click(function(){
        $('#select-to option:selected').each( function() {
            $('#select-from').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            $(this).remove();
        });
    });
    $('#btn-up').bind('click', function() {
        $('#select-to option:selected').each( function() {
            var newPos = $('#select-to option').index(this) - 1;
            if (newPos > -1) {
                $('#select-to option').eq(newPos).before("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
                $(this).remove();
            }
        });
    });
    $('#btn-down').bind('click', function() {
        var countOptions = $('#select-to option').size();
        $('#select-to option:selected').each( function() {
            var newPos = $('#select-to option').index(this) + 1;
            if (newPos < countOptions) {
                $('#select-to option').eq(newPos).after("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
                $(this).remove();
            }
        });
    });*/
    components = {{ data_1 | safe }}
    /*[
        {'t':0, 'name':'name1'},
        {'t':1, 'name':'name2'},
        {'t':2, 'name':'name3'},
        {'t':3, 'name':'name4'},
        {'t':3, 'name':'name5'}
    ]*/
    $('[name="type_comp"]').change(function() {
        $('[name="name_var"] > option').each( function() {
            $('option[value="' + $(this).val() +  '"]', $('[name="name_var"]')).remove();
            //console.log($(this).val());
            //$('#select-from').append("<option value='"+$(this).val()+"'>"+$(this).text()+"</option>");
            //$(this).remove();
        });
        //console.log($('[name="type_comp"]').find(":selected").text());
        to_add = components.filter(function (vr){
            return vr['t'] == $('[name="type_comp"]').find(":selected").text();
        });
        //console.log(to_add)
        to_add.map(function (x,y,z){
            $('[name="name_var"]').append('<option value="' + x['name'] + '">' + x['name'] + '</option>').multiselect('rebuild');
            //console.log(x);
            //console.log(y);
            //console.log(z);
        })
        //$('[name="name_var"]').append('<option value="123">312</option>').multiselect('rebuild');
        $('[name="name_var"]').multiselect('destroy');
        $('[name="name_var"]').multiselect();
        $('[name="name_var"]').multiselect().trigger('reset');
        //console.log($('[name="name_var"]'));  
    });
    //$('.multiselect').multiselect();
    $('[name="name_var"]').append('<option value="123">312</option>').multiselect('rebuild');;
    //$('.multiselect').multiselect();
    
});
</script>

<script type="text/javascript" charset="utf-8">
  //$(document).ready(function() {
  //  $('.multiselect').multiselect();
  //});
</script>
<TABLE WIDTH=100%>
 <TR> 
  <TH VALIGN=TOP ALIGN=Middle>
  <form action="" method="post">         {% csrf_token %}
   
        <label>Тип компонента:</label>
	<select name="type_comp">
	{% for vr in model_vr %}
          <option value="{{vr.id}}">{{vr.type_name}}</option>
	{% endfor %}
	</select><br>
	</select><br>
   <select class="multiselect" multiple="multiple" name="name_var">
	{% for vrc in model_com %}
          <option value="{{vrc.name}}">{{vrc.name}}</option>
	{% endfor %}
	</select>
	   
  <br>
	<label>Вероятность:</label>
	<input name="p" type="text" value="{{ form.p}}">
	<label>Проект:</label>
	<select name="var_project">
	{% for var_proj in model_proj %}
          <option value="{{var_proj.id}}">{{var_proj.title}}</option>
	{% endfor %}
	</select>
	<br>
	<br>
        <input class="btn info"  type="submit" value="Отправить"></form>
    </form>
  </TH>
  <TH ALIGN=CENTER>
	</TH>
 </TR>
</TABLE>
<TABLE>
<CAPTION>Variants</CAPTION>
<TR>
<TH width=100>Имя компонента    </TH>
<TH width=30>  Тип    </TH>
<TH width=30>  Вероятность   </TH>
<TH width=30>   </TH>
</TR>
{% for variants in model_var_v %}
<TR>
<TD width=30> {{variants.num}}</TD>
<TD ALIGN=CENTER >{{variants.type_c.type_name}}</TD>
<TD>{{variants.pvar}}</TD>	
<TD>  <a href="{% url 'delete_var' variants.id %}"> <span class="label label-important">удалить</span> </a></TD>
</TR>
{% endfor %}
</TABLE>
 
 </TR>
</TABLE>


<a href="{% url 'list1' %}"><span class="label label-success">Вернуться к проектам</splan></a>
{% endblock %}
